<ng-container *ngIf="!listOfArticles.length; else showTable">
	<div class="warn-info"><span i18n="@@no-data-loaded">No data loaded</span></div>
</ng-container>

<ng-template #showTable>
	<table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
		<ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
			<th *matHeaderCellDef mat-header-cell>
				<span>{{ useArticleType[col]?.tabHeader ?? useArticleType[col]?.cName }}</span>
			</th>
			<td *matCellDef="let cell" mat-cell>
				<ng-container [ngSwitch]="checkType(cell[col])">
					<ng-container *ngSwitchCase="'boolean'">
						<mat-checkbox [(ngModel)]="cell[col].cValue"></mat-checkbox>
					</ng-container>

					<span *ngSwitchDefault>{{ cell[col]?.cValue }}</span>
				</ng-container>
			</td>
		</ng-container>

		<!-- Group header -->
		<ng-container matColumnDef="groupHeader">
			<td *matCellDef="let groupBy" mat-cell class="group" colspan="999">
				<strong>{{ groupBy.category.cValue }}</strong>
			</td>
		</ng-container>

		<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
		<tr *matRowDef="let row; columns: ['groupHeader']; when: isGroup" mat-row></tr>
		<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
	</table>
</ng-template>
