@use '@angular/material' as mat;
@import '../../../../../styles_angular_material.scss';
.table-container {
	display: inline-grid;
	height: 100%;
	overflow: auto;
}

table {
	display: table;
}

th.mat-mdc-header-cell {
	justify-content: center;
	hyphens: manual;
	text-align: center;
	white-space: break-spaces;
}

.group {
	background-color: mat.get-color-from-palette($tealPalette, 600);
	color: mat-contrast($tealPalette, 600);
}
.right {
	justify-content: center;
	text-align: end;
}
.mat-column-available {
	justify-content: center;
	padding-right: 8px;
	max-width: 3.4em;
	text-align: center;
	word-break: break-all;
}
.mat-column-size {
	padding-right: 8px;
	text-align: center;
}
th.mat-column-size {
	max-width: 3em;
}
.mat-column-id {
	justify-content: center;
	padding-right: 8px;
	text-align: end;
}
.mat-column-note {
	padding-right: 8px;
	padding-left: 8px;
}
.mat-column-name {
	padding-left: 8px;
	white-space: break-spaces;
}
.mat-column-unit {
	max-width: 6em;
	text-align: end;
	white-space: break-spaces;
}
th.mat-column-unit {
	text-align: center;
}

.mat-column-deposit {
	justify-content: center;
	max-width: 6em;
	text-align: center;
	white-space: break-spaces;
}
.mat-column-Nettopreis {
	padding-right: 1em;
}
