table {
	margin-top: 8px;
	margin-bottom: 8px;
	width: 100%;
}
th.mat-mdc-header-cell,
td.mat-mdc-cell {
	justify-content: center;
	hyphens: manual;
	text-align: center;
	white-space: break-spaces;
}
.btn-load-anyway {
	button {
		margin-left: 8px;
	}
}
