<ng-container *ngIf="missingHeaders.length">
	<div class="title">
		<span i18n="@@scan-of-csv-cols">After loading the CSV file the following column names were found</span>
	</div>
	<table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
		<ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
			<th *matHeaderCellDef mat-header-cell>
				<span>{{ col }}</span>
			</th>
			<td *matCellDef="let cell" mat-cell>
				<mat-checkbox [ngModel]="!missingHeaders.includes(col)"></mat-checkbox>
			</td>
		</ng-container>

		<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
		<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
	</table>
	<div class="btn-load-anyway">
		<span i18n="@@no-data-will-be-displayed">The values for columns with a missing tick will not be displayed.</span>
		<button mat-raised-button (click)="loadData()" color="primary">
			<span i18n="@@load-anyway">Load the result anyway</span>
		</button>
	</div>
</ng-container>
